body{
margin:0;
background:hsl(213, 74%, 12%);
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

#game{
width:100%;
max-width:900px;
}

canvas {
  display: block; 
  margin: 0; 
  position: absolute; 
}